[Desktop Entry]
Name=WalkingPad GUI
Comment=Simple controller for WalkingPad treadmills
Exec=/home/victor/Projects/walkingpad/walkingpad-gui/run.sh
Icon=applications-sports
Terminal=false
Type=Application
Categories=Utility;Sports;Health;
StartupNotify=true
Keywords=walkingpad;treadmill;fitness;bluetooth;exercise;
MimeType=
X-KDE-StartupNotify=true 